{% extends "blog/base.html" %}
{% load static %}
{% block title %}
{% if blog %}{{ blog.title }}{% else %}Blog{% endif %}
{% endblock %}
{% block content %}
<div class="container">
    <div>
        <h4>Blogs by {{profile.user}}</h4>
    </div>
    <div>
        {% if blogs %}
            {% for blog in blogs %}
                <div>
                    <span style="color: blue;">Title</span> <br>
                    <span style="color: black; font-size: large; font-weight: 500;">{{ blog.title }} </span><br>
                    {% if blog.status == 0 %}
                        <a href="{{ blog.publish_blog_url }}"> <button class="btn btn-success"> Publish</button></a>&nbsp&nbsp 
                    {% else %}
                        <a href="{{ blog.archive_blog_url }}"> <button class="btn btn-danger"> Archive</button></a>&nbsp&nbsp 
                    {% endif %}
                    
                    <a href="{{ blog.edit_blog_url }}"> <button class="btn btn-info"> Edit</button></a>&nbsp&nbsp 
                    
                    <a href="{{ blog.get_blog_url }}"><button class="btn btn-primary"> Read </button></a>&nbsp&nbsp 
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <p>You have not posted any blog yet</p>
        {% endif %}
    </div>
</div>
{% endblock %}