{% extends "shop/base.html" %}
{% load static %}
{% block title %}
{% if category %}{{ category.title }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}

<div class="product-detail container">
    <div>
        <span style="font-weight: 500;">Name:</span> <a href="{{ art.get_art_url }}" style="text-decoration: none;">{{ art.name|title }}</a>
    </div>
    <p style="color: black;">
        The first highest bid is the winning bid.  <br>
        <span style="color: grey;">Send an empty bid to refresh the page.</span>
    </p>
    <div>
        <form method="post" novalidate enctype="multipart/form-data" action=".">
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-primary">Send Bid</button>
        </form>
    </div>
    {{yyy}} <br>
    {{ start_date }}
    {{ end_bid_date}}
    <div style="height: 100px;">
        <span>Latest Valid Bids</span> <br>
            {% if a_bids %}
                {% for b in a_bids %}
                <span style="color: green;">{{b.bidder}}</span>  Ksh: {{b.amount}}, <br>
                {% endfor %}
            {% else %}
                Ksh: {{b_bei}}
            {% endif %}
            
    </div>
</div>


{% endblock %}